* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    padding: 20px;
}

.navigationList {
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dbdbdb;
}

.navigationItem {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding: 18px 0;
}

.navigationItem_Icon {
    margin-right: 6px;
}

.navigationItem_Text {
    font-weight: bold;
    font-size: 12px;
    color: #868686;
    letter-spacing: 0.7px;
}